<h1>新規登録　ああ</h1>
<%= form_with(model: @user, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>

  <%= f.submit '登録' %>
<% end %>
